:root {
    --green1: #CAD2C5;
    --green2: #84A98C;
    --green3: #52796F;
    --green4: #354F52;
    --green5: #2F3E46;

}

.aligned-title {
    text-align: center;
}

#img-default-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#user-slide {
    position: absolute;
    right: 0;
    display: none;
    height: 90vh;
    background-color: rgba(82, 121, 111, 0.7);
    border: 2px solid rgb(80, 107, 100);
    z-index: 1;
}

.modal-header,
.modal-footer {
    background-color: var(--green1);
}

.btn-primary,
.button-close-modal {
    background-color: var(--green2);
    border-color: var(--green2);
}

.span-close-modal {
    font-size: 24px;
}

.row {
    margin: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--green3);
}

header{
    background-color: var(--green1);
}

.__research-bar{
    margin-left:20px;
}