:root {
    --green1: #CAD2C5;
    --green2: #84A98C;
    --green3: #52796F;
    --green4: #354F52;
    --green5: #2F3E46;
}

.aligned-title {
    text-align: center;
}

#img-default-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#user-slide {
    position: absolute;
    right: 0;
    display: none;
    height: 90vh;
    background-color: rgba(82, 121, 111, 0.7);
    border: 2px solid rgb(80, 107, 100);
    z-index: 1;
}

.modal-header,
.modal-footer {
    background-color: var(--green1);
}

.btn-primary,
.button-close-modal {
    background-color: var(--green2);
    border-color: var(--green2);
}

.span-close-modal {
    font-size: 24px;
}

.row {
    margin: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--green3);
}

header {
    background-color: var(--green1);
}

h1{
    margin: 10px 0 10px;
}

.__frontRow{
    /* display: flex;
    flex-direction: column; */
    margin: 0 10px;
}

.__frontBgImage{
    background-image: url("../sources/img/musculation.jpg");
    background-position: center;
    background-size: fill;
}

.__frontImage{
    padding: 0;
    object-fit: cover;
}

.__frontIamge-description{
    padding: 1rem;
    /* background-color: var(--green2); */
    color: black;
    font-size: 12pt;
    margin: 0;
}

.container-fluid{
    padding: 0;
}

/* Carousels Séances */
.card{
    margin: 0 1.5rem;
}

.__cardTablet{
    padding: 0;
}

.__cardDesktop{
    margin: 0 1rem;
    padding: 0;
}

.__classImage{
    margin: 0 auto;
}

.__classIcon{
    color: var(--green2);
}

.__cardDescription{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 70%);
    color: white;
    height: 100%;
    width: 100%;
    position:relative;
}

.card-img-overlay{
    padding:unset; /* Retrait du padding du cadre de la description de la carte pour que le background linear gradient prenne tout l'espace de la carte */
}

.__cardDescriptionText{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    margin-bottom: 1rem;
}

#carouselDesktop.carousel-caption{
width: 100rem;
}

.__carouselControl{
    color: var(--green3);
}

/* Erreur 404 */
.__404 {
    font-size: 220pt;
    margin: auto auto;
}

.__404plate {
    height: 210px;
    object-fit: scale-down;
    padding: 0;
}

.__404btn {
    width: fit-content;
    color: var(--green3);
    border-color: var(--green3);
}

.__404btn:hover {
    color: white;
    background-color: var(--green3);
    border-color: var(--green3);
}

/* Page Informations Profil */
.__profilePic{
    object-fit: cover;
    padding: 0;
}

.__profilePicOverlay{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 15%;
    width: 100%;
    position: relative;
}

.__profilePicChange{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.__profileInfoInput{
    display: none;
}

#__profileInfoCancel{
    display: none;
}

#__profileInfoSubmit{
    display: none;
}