:root {
    --blue: #2472FC;
    --purple: #8711C1;
    --blurple: #5642DF;
}

.btn-primary{
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn-primary:hover{
    background-color: var(--blurple);
    border-color: var(--blurple);
}

header {
    background-color: var(--blurple);
}

.navbar-light .navbar-nav .nav-link{
    color: whitesmoke;
}

.__navbarIcons{
    flex-direction: row;
}

.__navIcon{
    font-size: 20px;
    margin: 0 .75rem;
}

.__about-navIcon{
    font-size: 50px;
    margin: 0 .75rem;
    color: var(--blue);
}

.__about-navIcon:hover{
    color: var(--blurple);
}

.navbar-brand,.footer-logo,.__logoIcon{
    width: 2.5rem;
}

h1{
    margin: 1rem auto;
}

.card:hover{
    background-color: rgba(0, 0, 0, .1);
}

.card{
    padding: 0;
}

.card-img-top{
    height: 12rem;
    object-fit: cover;
}

.__cardTitleIndex{
    height: 4rem;
    display: block;
}

.__cardTextIndex{
    height: 8rem;
    display: block;
}

.__img-article{
    height: 18rem;
}

.__img-related{
    height: 15rem;
    width: auto;
    object-fit: cover;
}

.__img-articleContent{
    height: 15rem;
    width: auto;
    object-fit: cover;
}

video{
    width: 100%;
    height: auto;
}